<input type="text" [(ngModel)]="searchText" class="form-control" placeholder="O que você está procurando?" />
<br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clienteTabela of clientes | filter:searchText">
      <a [routerLink]="[clienteTabela.id]">
        <td>{{clienteTabela.id}}</td>
      </a>
      <td>{{clienteTabela.name}}</td>
      <td>{{clienteTabela.email}}</td>
      <td>{{clienteTabela.phone}}</td>
    </tr>
  </tbody>
</table>
<span [hidden]="(clientes | filter: searchText).length != 0">Infelizmente não temos o que você está procurando</span>