<form class="was-validated form-row" #cadastro="ngForm" (ngSubmit)="salvar()">
  <div class="col-md-2 mb-3">
    <label for="codigo">Código</label>
    <input type="text" ng-model="cliente.id" class="form-control" disabled id="id">
  </div>

  <div class="col-md-4 mb-3">
    <label for="nome">Nome</label>
    <input type="text" [(ngModel)]="cliente.name" class="form-control is-valid" #nome="ngModel" name="nome" minlength="5" required>
    <div [hidden]="nome.valid" class="invalid-feedback">
      Digite o nome.
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <label for="cargo">Email</label>
    <input type="text" [(ngModel)]="cliente.email" class="form-control is-valid" #cargo="ngModel" name="cargo" required>
    <div [hidden]="cargo.valid" class="invalid-feedback">
      Digite o email.
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <label for="password">Senha</label>
    <input type="password" [(ngModel)]="cliente.password" class="form-control is-valid" #password="ngModel" name="password" required>
    <div [hidden]="password.valid" class="invalid-feedback">
      Digite a senha.
    </div>
  </div>

  <div class="col-md-2 mb-2">
    <label for="telefone">Telefone</label>
    <input type="text" [(ngModel)]="cliente.phone" class="form-control is-valid" #telefone="ngModel" name="telefone" required>
    <div [hidden]="telefone.valid" class="invalid-feedback">
      Digite o telefone.
    </div>
  </div>

  <div class="container">
    <button type="submit" class="btn btn-success" [disabled]="cadastro.form.invalid">Salvar</button>
    <button type="button" class="btn btn-danger" [hidden]="isNew" (click)="excluir()">Excluir</button>
    <button type="button" class="btn btn-warning" (click)="cancelar()">Pesquisar</button>
  </div>

</form>